header{
  margin-bottom:3em;
}
#abstract{
  margin-top:3em;
}
body {
  font-family:Courier;
  width:45em;
  margin:10em 0em 10em 10em;
}
h1{
  font-size:45px;
}
ul{
  list-style-type:none;
}
#redacted {
  background-color:black;
  display:inline;
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  transform: rotate(-10deg);
  /* Rotate Origin */
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  -o-transform-origin: 0 100%;
  transform-origin: 0 100%;
}
.answer {
  margin-left: 2em;
}
A {
  color:black;
}
A:hover{
  color:darkgrey;
}
A:visited{
  color:darkgrey;
}

